<!DOCTYPE html>
<html>
<head>
<title> Backbone js test </title>
</head>
<body>

<header class="container-fluid">
<div class="page-header">
  <h1>Connections</h1>
  <p class="lead">Connection attributes</p>
</div>

<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>datetime</th>
        <th>port</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody id="table-body"></tbody>
  </table>
</div>

<script type="text/template" id="connections-template">
  <td><%= id %></td>
  <td><%= datetime %></td>
  <td><%= port %></td>
  <td><%= value %></td>
</script>

<script src="jquery-2.1.4.min.js"></script>
<script src="underscore-min.js"></script>
<script src="backbone-min.js"></script>
<script src="app.js"></script>
<script src="collections.js"></script>
<script src="views.js"></script>
</body>
</html>
