<div id="widgets" class="row">
    <div class="widget medium-4 columns">
        <h3 class="connectionsCount">
            {{ connectionsCount }}
            <span>Connections</span>
        </h3>
    </div>
    <div class="widget medium-4 columns">
        <h3 class="eventCount">
            {{ eventsCount }}
            <span>Events</span>
        </h3>
    </div>
    <div class="widget medium-4 columns">
        <h3 class="monitoringCount">
            {{ monitoringsCount }}
            <span>Monitoring</span>
        </h3> 
    </div>
</div>
<hr>
<div class="row">
    <div class="medium-12">
        <select
            ng-model="date"
            ng-options="date as date for date in selectConns"
            ng-change="changeDate(date)">
            
        </select>
        <google-chart
          type='column'
          options='{"title": "Value/dag"}'
          cols='[{"label":"Month", "type":"string"}, {"label":"Value", "type":"number"}]'
          rows='{{ data | limitTo: 10 }}'>
        </google-chart>
        <p>Here's a column chart:</p>

    </div>
</div>