<div id="widgets" class="row">
    <div class="widget medium-4 columns">
        {{ message }}
        <!-- <h3 class="connectionsCount">{{ connectionsCount }}</h3> -->
    </div>
    <div class="widget medium-4 columns">
        <!-- <h3 class="eventCount">{{ eventsCount }}</h3> -->
    </div>
    <div class="widget medium-4 columns">
        <!-- <h3 class="monitoringCount">{{ monitoringsCount }}</h3>  -->
    </div>
</div>
<hr>
<div class="row">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker coords="marker" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
    </ui-gmap-google-map>
</div>