<div id="widgets" class="row">
            <div class="widget medium-4 columns">
                <h3 class="connectionsCount">12 motoren aan</h3>
            </div>
            <div class="widget medium-4 columns">
                <h3>435 vertragingen</h3>
            </div>
            <div class="widget medium-4 columns">
                <h3>7643 test</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="medium-12">

                <h2>Connecties</h2>

                <table width="100%">
                  <thead>
                    <tr>
                      <th>Datum</th>
                      <th>Verbonden</th>
                      <th>Port</th>
                      <th>Auto ID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr dir-paginate="connection in connections|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                      <td>{{ connection.Datetime }}</td>
                      <td>{{ connection.Value }}</td>
                      <td>{{ connection.Port }}</td>
                      <td><a href="/#/unit/{{ connection.Unit_id }}">{{ connection.Unit_id }}</a></td>
                    </tr>
                  </tbody>
                </table>

                  <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true" >
                  </dir-pagination-controls>
            </div>

            <div class="medium-12">

                <h2>Events</h2>

                <table width="100%">
                  <thead>
                    <tr>
                      <th>Datum</th>
                      <th>Verbonden</th>
                      <th>Port</th>
                      <th>Auto ID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr dir-paginate="event in events|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                      <td>{{ event.Datetime }}</td>
                      <td>{{ event.Value }}</td>
                      <td>{{ event.Port }}</td>
                      <td><a href="/#/unit/{{ event.Unit_id }}">{{ event.Unit_id }}</a></td>
                    </tr>
                  </tbody>
                </table>

                  <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true" >
                  </dir-pagination-controls>
            </div>

            <div class="medium-12">

                <h2>Monitoring</h2>

                <table width="100%">
                  <thead>
                    <tr>
                      <th>Begindatum</th>
                      <th>Einddatum</th>
                      <th>Type</th>
                      <th>Min</th>
                      <th>Max</th>
                      <th>Sum</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr dir-paginate="monitoring in monitoring|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                      <td>{{ monitoring.Datetime }}</td>
                      <td>{{ monitoring.Datetime }}</td>
                      <td>{{ monitoring.Type }}</td>
                      <td>{{ monitoring.Min }}</td>
                      <td>{{ monitoring.Max }}</td>
                      <td>{{ monitoring.Sum }}</td>
                    </tr>
                  </tbody>
                </table>

                  <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true" >
                  </dir-pagination-controls>
            </div>


        </div>
