<div id="widgets" class="row">
            <div class="widget medium-4 columns">
                <h3 class="connectionsCount">12 motoren aan</h3>
            </div>
            <div class="widget medium-4 columns">
                <h3>435 vertragingen</h3>
            </div>
            <div class="widget medium-4 columns">
                <h3>7643 test</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="medium-12">

                <h2>Connecties</h2>

                <table width="100%">
                  <thead>
                  {{ connectionTable }}
                    <tr>
                      <th>Datum</th>
                      <th>Verbonden</th>
                      <th>Port</th>
                      <th>Auto ID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>11-11-2016</td>
                      <td>1</td>
                      <td>11111</td>
                      <td>8378632</td>
                    </tr>
                  </tbody>
                </table>
            </div>

            <div class="medium-12">

                <h2>Events</h2>

                <table width="100%">
                  <thead>
                    <tr>
                      <th>Datum</th>
                      <th>Verbonden</th>
                      <th>Port</th>
                      <th>Auto ID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>11-11-2016</td>
                      <td>1</td>
                      <td>11111</td>
                      <td>8378632</td>
                    </tr>
                  </tbody>
                </table>
            </div>

            <div class="medium-12">

                <h2>Connecties</h2>

                <table width="100%">
                  <thead>
                    <tr>
                      <th>Begindatum</th>
                      <th>Einddatum</th>
                      <th>Type</th>
                      <th>Min</th>
                      <th>Max</th>
                      <th>Sum</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>11-11-2016</td>
                      <td>11-11-2016</td>
                      <td>1</td>
                      <td>10</td>
                      <td>20</td>
                      <td>15</td>
                    </tr>
                  </tbody>
                </table>
            </div>


        </div>