<table width="100%">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Verbonden</th>
      <th>Port</th>
      <th>Auto ID</th>
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="connection in events|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
      <td>{{ connection.Datetime }}</td>
      <td>{{ connection.Value }}</td>
      <td>{{ connection.port }}</td>
      <td><a href="/#/unit/{{ connection.Unit_id }}">{{ connection.unit_id }}</a></td>
    </tr>
  </tbody>
</table>

<table width="100%">
  <thead>
    <tr>
      <th>Begin datum</th>
      <th>Eind datum</th>
      <th>Type</th>
      <th>Min</th>
      <th>Max</th>
      <th>Sum</th>
      <th>Auto ID</th>
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="connection in monitoring|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
      <td>{{ connection.Begin_time }}</td>
      <td>{{ connection.End_time }}</td>
      <td>{{ connection.Type }}</td>
      <td>{{ connection.Min }}</td>
      <td>{{ connection.Max }}</td>
      <td>{{ connection.Sum }}</td>
      <td><a href="/#/unit/{{ connection.Unit_id }}">{{ connection.Unit_id }}</a></td>
    </tr>
  </tbody>
</table>

<table width="100%">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Auto ID</th>
      <th>rdx</th>
      <th>rdy</th>
      <th>speed</th>
      <th>course</th>
      <th>numsatel</th>
      <th>hdop</th>
      <th>quality</th>
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="connection in positions|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
      <td>{{ connection.datetime }}</td>
      <td><a href="/#/unit/{{ connection.Unit_id }}">{{ connection.unit_id }}</a></td>
      <td>{{ connection.rdx }}</td>
      <td>{{ connection.rdy }}</td>
      <td>{{ connection.speed }}</td>
      <td>{{ connection.course }}</td>
      <td>{{ connection.numsatel }}</td>
      <td>{{ connection.hdop }}</td>
      <td>{{ connection.quality }}</td>
    </tr>
  </tbody>
</table>
